{% extends "base.html" %}


{% block content %}
  <p>Перечень нот:</p>
  {% for score in scores %}
    <div>
      <span>{{ score.title }}</span>
      <span>{{ score.publisher }}</span>
      <span>{{ score.publication_date }}</span>
      <button>Add</button>
    </div>
    {% comment %}
    {% for composer in score.composers %}
      <span>{{ composer }}</span>
    {% endfor %}
    {% endcomment %}
  {% endfor %}

  <hr>
  
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    console.log("score page~!");
  </script>
{% endblock %}

{% block title %}
  Score's page!
{% endblock %}